h1{
  font-size: 20px;
}
.fav{
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  font-size:1.5vh;
  margin-left:6vw;
  font-weight:bold;
  list-style:decimal;

}
li{
  font-size: 20px
}
.h {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 30vw;
  margin-left: 35vw;
  
}
#but{
  font-size: 1vw;
  border-radius: 30% / 45%;
  background-color:#34c9eb;
  color:white;
  font-weight: bold;
  border-color:transparent;
}
.counter{
  display:flex;
  justify-content:flex-end;
  font-size:2vw;
}
.name{
 
  font-size:3vw;
  font-size:3vh;
  margin-left:5vw;
  font-weight:bolder;
  margin-bottom: 1vh;
  text-decoration: underline;
  text-decoration-color: #34c9eb

}
.state,.job,.employer{
  font-size:2vw;
  font-size:2vh;
  margin-left:5vw;
}
.mov{
  font-size: 2vw;
  font-size:2vh;
  margin-left: 5vw;
  margin-top:3vh;
  font-weight: bolder;
}